<div class="funzone-container">
  
  <div class="funzone-header">
    <h1>🎮 Student Fun Zone</h1>
    <p>Bingo, kviz i kreativni alati</p>
  </div>

  <div class="funzone-grid">
    
    
    <div class="funzone-card" (click)="openBingo()">
      <div class="card-icon">🎯</div>
      <h3>Bingo</h3>
      <p>Bingo, kralj dobrih cijena!</p>
    </div>

    
    <div class="funzone-card" (click)="openQuiz()">
      <div class="card-icon">❓</div>
      <h3>Kviz</h3>
      <p>Testirajte svoje znanje HTML-a</p>
    </div>

    
    <div class="funzone-card" (click)="openWhiteboard()">
      <div class="card-icon">🎨</div>
      <h3>Whiteboard</h3>
      <p>Crtajte što vam srcu milo!</p>
    </div>


    <div class="funzone-card" (click)="openVisionBoard()">
      <div class="card-icon">📌</div>
      <h3>Vision Board</h3>
      <p>Kreirajte svoju viziju!</p>
    </div>

    

  </div>

</div>


<app-bingo-popup
  *ngIf="showBingoPopup"
  (close)="closeBingo()">
</app-bingo-popup>


<app-quiz-popup
  *ngIf="showQuizPopup"
  (close)="closeQuiz()">
</app-quiz-popup>


<app-whiteboard-popup
  *ngIf="showWhiteboardPopup"
  (close)="closeWhiteboard()">
</app-whiteboard-popup>


<app-visionboard-popup
  *ngIf="showVisionBoardPopup"
  (close)="closeVisionBoard()">
</app-visionboard-popup>